<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://stryktipsetscorekeeper.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>stryktipsetscorekeeper.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>StryktipsetScoreKeeper</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$StryktipsetScoreKeeper</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ScoreKeeperContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:a4250trurb.database.windows.net,1433;Initial Catalog=strykDb;User ID=strykadmin@a4250trurb;Password=Mmpass1337" Name="Data Source=tcp:a4250trurb.database.windows.net,1433;Initial Catalog=strykDb;User Id=strykadmin@a4250trurb;Password=Mmpass1337" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|ScoreKeeperContext-20141216161513.mdf;Initial Catalog=ScoreKeeperContext-20141216161513;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ScoreKeeperContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0; Initial Catalog=ScoreKeeperContext-20141216161513; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|ScoreKeeperContext-20141216161513.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ScoreKeeperRelease" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:a4250trurb.database.windows.net,1433;Initial Catalog=strykDb;User ID=strykadmin@a4250trurb;Password=Mmpass1337" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:a4250trurb.database.windows.net,1433;Initial Catalog=strykDb;User ID=strykadmin@a4250trurb;Password=Mmpass1337" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ScoreKeeperRelease_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:a4250trurb.database.windows.net,1433;Initial Catalog=strykDb;User ID=strykadmin@a4250trurb;Password=Mmpass1337" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ScoreKeeperContext-Web.config Connection String">
      <ParameterValue>data source=tcp:a4250trurb.database.windows.net,1433;initial catalog=strykDb;user id=strykadmin@a4250trurb;password=Mmpass1337;MultipleActiveResultSets=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ScoreKeeperRelease-Web.config Connection String">
      <ParameterValue>Data Source=tcp:a4250trurb.database.windows.net,1433;Initial Catalog=strykDb;User ID=strykadmin@a4250trurb;Password=Mmpass1337</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>